{% extends 'base.html' %}

{% block title %} Answer Page {% endblock title %}

{% load static %}


    
    {% block banner %}
    <div class="banner">
        <div class="main_banner">
            <h2>Welcome To ASK.COM</h2>
            <p>Ask Any Question And <br> Get Answered</p>
            <a href="/ask_question"  class="ask_question">Ask  Question</a>
        </div>
            
    </div>
    {% endblock banner %}
    {% block body %}
    

    <div class="container">
        <div class="main_container">
            <div class="left_main_container">

                <div class="answer_details">
                    <div class="answer_details_top">
                        <div class="answer_details_top_left">
                            <img src="/media/{{question_user.img }} " alt="" class="question_profile">
                        </div>
                        <div class="answer_details_top_right">
                            <h3 class="q_title">{{ question.title }}</h3>
                     
                            <a href="/category/{{ question.cat_name }}" class="answer_category">{{ question.cat_name }}</a>
                            
                            <span class="time">{{ question.time }}</span>
                            <span class="views"><b>View : 3.2K</b></span>
                        </div>
                       
                        
                    </div>
                    <div class="answer">
                        <p>{{ question.details }}</p>
                    </div>
                    <div class="likedislike">
                        
                    </div>
                </div>


                <div class="answer_section">
                    <h1>Answer Section</h1>
                    {% for key,value in info.items %}
                    <div class="answer_details2">
                        <div class="answer_details_top2">
                            <div class="answer_details_top_left2">
                               <a href="/profile/user/{{ value.user}}"> <img src="/media/{{ value.img }} " alt="" class="question_profile2"></a>
                            </div>
                            <div class="answer_details_top_right2">
                                <h3 class="q_title2">{{ value.name }}</h3>
                         
                                
                             
                            </div>
                           
                            
                        </div>
                        
                        <div class="answer">
                            <p>{{ value.answer }}</p>
                        </div>
                        <div class="likedislikepart"> 
                            <form action="/like/answer/{{value.ans_id}}" method="POST">
                                {%csrf_token%}
                                <button>
                                    <span class="num">{{value.like}}</span>
                        <span class="material-symbols-outlined">
                               thumb_up
                            </span>
                        </button>
                        </form>
                        <form action="/dislike/answer/{{value.ans_id}}" method="POST">
                            {%csrf_token%}
                            <button>
                                <span class="num">  {{value.dislike}} </span>
                            <span class="material-symbols-outlined">
                                thumb_down
                                </span>
                                </button>
                                </form>
                            </div>
                    </div>
                    {% endfor %}

                    <div class="ansreply">
                        
                    </div>


                </div>
                

                <div class="answerformsection">
                    {% if registered == True %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <textarea name="answer" id="" cols="90" rows="10" placeholder="Please Enter Your Answer"></textarea>
                        <input class="answer-btn" type="submit" value="Answer">
                    </form>
                    {% else %}
                        <h1 class="war">You need to login to answer</h1>
                    {% endif %}
                </div>


            </div>
            <div class="right_main_container">
            
                <div class="overview">
                    <p class="p1">{{ total_question }}<br>  Questions</p>
                <p class="p1">{{ total_answer }}<br>Answered</p>
                <p class="p1">{{ perchantage|floatformat:2 }}%<br>Answered</p>
    
                </div>
                
                <div class="top_user">
                    <h3>Top Users</h3>
                    {% for key,value  in user_list.items %}
                    <div class="user">
                        <a href="/profile/user/{{ value.user }}"><img src="/media/{{ value.img }}"  alt="" class="top_user_logo"></a>
                        <h4 class="name">{{ value.name }}</h4>
                    </div>
                    {% endfor %}
                   
                </div>
             </div>
        </div>
    </div>
    {% block pagination %}
    <div class="pagination_section">
        <div class="main_pagination_section">

            <!-- <a href="" class="page_link">1</a>
            <a href="" class="page_link">1</a>
            <a href="" class="page_link">1</a>
            <a href="" class="page_link">1</a>
            <a href="" class="page_link">1</a>
            <a href="" class="page_link">1</a>
            <a href="" class="page_link">1</a> -->
        </div>

    </div>
  

    {% endblock pagination %}
    
    {% endblock body %}
    {% block footer %} <div class="footer2">All Right Reserved @ ask.com</div> {% endblock %}
    
    
