{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container bg">
    <div class="main_container ">
        <div class="ask_section">
            <div class="ask_section_main">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="title" id="" class="ask_input" placeholder="Please Enter Question Title"><br>
                    <textarea name="details" id="" cols="80" rows="25" class="ask_textarea" placeholder="Please Enter Question Details"></textarea><br>
                    <select name="category" id="" class="ask_input_select">
                        <option value="None">None</option>
                      
                        <option value="{{ cat.cat_name }}">Programming</option>
                       
                       
                    </select>
                    <br>
                    <input type="submit" value="Submit" class="ask_btn">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block footer %} <div class="footer">All Right Reserved @ ask.com</div> {% endblock footer%}


</body>
</html>