{% extends 'base.html' %}
{% load static %}
{% block banner %}
<div class="banner">
    <div class="main_banner">
        <h2>Welcome To ASK.COM</h2>
        <p>Ask Any Question And <br> Get Answered</p>
        <a href="/ask_question"  class="ask_question">Ask  Question</a>
    </div>
        
</div>
{% endblock banner %}

    {% block body %}
    <div class="container bg">
        
        <div class="main_container">
            
         <div class="left_main_container">
            <h3 class="search_h3">Showing Value For : {{ search }} Category</h3>