{% extends 'base.html' %}
{% load static %}
{% block banner %}
<div class="banner">
    <div class="main_banner">
        <h2>Welcome To ASK.COM</h2>
        <p>Ask Any Question And <br> Get Answered</p>
        <a href="/ask_question"  class="ask_question">Ask  Question</a>
    </div>
        
</div>
{% endblock banner %}

    {% block body %}
    <div class="container bg">
        
        <div class="main_container">
            
         <div class="left_main_container">

            

            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/mohot.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">What is Django? is django popular?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/arnob.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">What is Django? how can i learn django?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/mohot.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">What is Django?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/arnob.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">Python vs django? which one is popular?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>

            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/mohot.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">What is Django? is django popular?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/arnob.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">What is Django? how can i learn django?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/mohot.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">What is Django?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
            <div class="question">
                <a href="" class="logo_a">
                <div class="logo_section">
                <img class="logo_img" src="{% static 'image/arnob.jpg' %}" alt="">
            </div></a>
            <div class="rest">
                <a class="title_a" href=""><h3 class="question_title">Python vs django? which one is popular?</h3></a>
                <div class="category_section">
                    <a href="/category/" class="cat">Programming</a>
                   
                
                </div>
                <p class="time">23 jun 2023</p>
                <!-- <p class="total_ans"><b>11 Answered</b></p> -->

            </div>
            </div>
    

         </div>
         <div class="right_main_container">
            
            <div class="overview">
                <p class="p1">1020<br>  Questions</p>
                <p class="p1">233<br>Answered</p>
                <p class="p1">77%<br>Answered</p>

            </div>
            
            <div class="top_user">
                <h3>Top Users</h3>
               
                <div class="user">
                    <a href=""><img src="{% static 'image/mohot.jpg' %}" alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahfuj Mahtab Mohot</h4>
                </div>
                <div class="user">
                    <a href=""><img src="{% static 'image/arnob.jpg' %}" alt="" class="top_user_logo"></a>
                    <h4 class="name">Rufiad Rahi Arnob</h4>
                </div>
                <div class="user">
                    <a href=""><img src="{% static 'image/mohot.jpg' %}" alt="" class="top_user_logo"></a>
                    <h4 class="name">Mahtab Mohot</h4>
                </div>
                <div class="user">
                    <a href=""><img src="{% static 'image/arnob.jpg' %}" alt="" class="top_user_logo"></a>
                    <h4 class="name">Rufiad Rahi</h4>
                </div>
                <div class="user">
                    <a href=""><img src="{% static 'image/default.jpg' %}" alt="" class="top_user_logo"></a>
                    <h4 class="name">Nazmul Islam</h4>
                </div>
               
               
            </div>
         </div>
        </div>
        {% block pagination %}
        <div class="pagination_section">
            <div class="main_pagination_section">

                <!-- <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a>
                <a href="" class="page_link">1</a> -->
            </div>

        </div>
      
    
        {% endblock pagination %}
          
             
</div>
{% endblock body %}
{% block footer %} <div class="footer">All Right Reserved @ ask.com</div> {% endblock footer%}

